@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--bg-container-dark: #242424;
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #213547;
	}
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	min-width: 320px;
	min-height: 100vh;

	background-color: var(--tertiary, theme("colors.neutral.50"));
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;

	color: var(--maxContrastColor, theme("colors.accent.800"));
}

h2 {
	font-size: 2.4em;
	line-height: 1.2;

	color: var(--maxContrastColor, theme("colors.accent.700"));
}

h3 {
	font-size: 1.8em;
	line-height: 1.3;
}

h4 {
	font-size: 1.6em;
	line-height: 1.4;
}

h5 {
	font-size: 1.4em;
	line-height: 1.5;
}

h6 {
	font-size: 1.2em;
	line-height: 1.6;
}

button {
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	button {
		background-color: #f9f9f9;
	}
}

.background-container {
	border-color: var(--maxContrastColor, theme("colors.accent.700"));
	@apply bg-white border-2;
}

.select {
	@apply dark:bg-[#242424];
}

canvas:focus {
	outline: none;
}

canvas {
	touch-action: none;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

.active {
	background-color: var(--maxContrastColor, theme("colors.accent.500"));
	color: var(--minContrastColor, theme("colors.accent.900"));
}

.link-inactive:hover {
	background-color: var(--hover, theme("colors.accent.300"));
	color: var(--maxContrastColor, theme("colors.accent.700"));
}

progress[value]::-webkit-progress-bar {
	@apply rounded-full bg-neutral-300;
}

progress[value]::-webkit-progress-value {
	background-color: var(--maxContrastColor, theme("colors.accent.600"));
	@apply rounded-full;
}

.button-clear {
	all: unset;
	cursor: pointer;
}

.navbar-bg {
	background-color: var(--secondary, white);
}

.button-group-colors {
	color: var(--maxContrastColor, theme("colors.accent.500"));
	border-color: var(--maxContrastColor, theme("colors.accent.500"));

	@apply bg-white;
}

.button-group-colors:hover {
	color: var(--maxContrastColor, theme("colors.accent.50"));
	background-color: var(--hover, theme("colors.accent.700"));
}

.button-group-colors-active {
	color: var(--minContrastColor, theme("colors.accent.50"));
	background-color: var(--maxContrastColor, theme("colors.accent.500"));
}

.button-group-colors-active:hover {
	color: var(--maxContrastColor, theme("colors.accent.50"));
	background-color: var(--hover, theme("colors.accent.700"));
}

.button-dark {
	background-color: var(--maxContrastColor, theme("colors.accent.500"));
	color: var(--minContrastColor, theme("colors.accent.50"));
	transition: all 0.3s;
}

.button-dark:hover {
	background-color: var(--hover, theme("colors.accent.700"));
	color: var(--maxContrastColor, theme("colors.accent.50"));
}

.button-dark:disabled {
	background-color: var(--hover, theme("colors.accent.100"));
}

.button-light {
	background-color: var(--tertiary, theme("colors.accent.50"));
	color: var(--maxContrastColor, theme("colors.accent.500"));
}

.button-light:hover {
	background-color: var(--hover, theme("colors.accent.300"));
	color: var(--maxContrastColor, theme("colors.accent.700"));
}

.table-white tr:nth-child(odd) {
	background-color: var(--tertiary, theme("colors.accent.50"));
}

.table-header {
	background-color: var(--maxContrastColor, theme("colors.accent.500"));
}

.table-white tr:hover {
	background-color: var(--hover, theme("colors.accent.300"));
}

.accent-700-bg {
	background-color: var(--maxContrastColor, theme("colors.accent.700"));
}

.accent-700-bg-hover:hover {
	background-color: var(--hover, theme("colors.accent.700"));
}

.accent-800-color {
	color: var(--maxContrastColor, theme("colors.accent.800"));
}

.accent-800-color-hover:hover {
	text-decoration: underline;
}

.accent-400-border {
	border-color: var(--maxContrastColor, theme("colors.accent.400"));
}

.accent-700-border {
	border-color: var(--maxContrastColor, theme("colors.accent.700"));
}

.accent-500-fill {
	fill: var(--maxContrastColor, theme("colors.accent.500"));
}
